@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceRanger";
  src: url("/fonts/spaceranger.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
}

body {
  background: #F9F9F9;
  font-family: "Satoshi";
}

* {
  scroll-behavior: smooth;
}

@layer base {
  .remove-arrow::-webkit-outer-spin-button,
  .remove-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove-arrow {
    -moz-appearance: textfield;
  }
}
