@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceRanger";
  src: url("/fonts/spaceranger.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
}

body {
  background: white;
  font-family: "Satoshi";
}

* {
  scroll-behavior: smooth;
}
